@import '../../../styles/sass/vars.scss';
@import '../../../styles/sass/mixins.scss';

.container {
    @extend %container;
    padding-top: 63px;
    border-bottom: 0.5px solid $secondaryColor;
    @include media(sm) {
        padding-top: 56px;
    }
    @include media(md) {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 37px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 25px;
    @include media(md) {
        flex: 1;
        margin-top: 31px;
        margin-bottom: 0;
    }
    .wrapper {
        position: relative;
    }
    .wrapper::after {
        content: " ";
        width: 31px;
        height: 27px;
        background-image: url("../../../assets/img/heart.svg");
        background-size: cover;
        display: inline-block;
        position: absolute;
        top: -11px;
        right: 0px;
        @include media(xs) {
            right: -47px;
        }
    }

    .title {
        margin: 23px 0 7px;
        color: $textColor;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .titleSignature {
        margin: 7px 0;
    }
    .link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: $linkColor;
        text-decoration: none;
    }
}

.content {
    max-width: 584px;
    .title {
        margin-bottom: 14px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #37373F;
    }
    .text {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #37373F;
    }
    .link {
        margin-bottom: 30px;
        display: block;
        text-decoration: none;
        color:$linkColor;
        &::after {
            @extend %arrow;
            margin-left: 10px;
        }
    }
}




