@import './../../styles/sass/vars.scss';
@import './../../styles/sass/mixins.scss';

.btn {
    width: 275px;
    height: 68px;
    border: 3px solid $primaryColor;
    border-radius: 7px;
    background-color: transparent;
    @include text(16px, 900, 20px); 
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) 
            drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
    transform: translateY(-7px);
}