@import './../../../styles/sass/vars.scss';
@import './../../../styles/sass/mixins.scss';

.header {
    background-color: $primaryColor;

    // @media screen and (min-width: 768px){
    //     box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    // }
    
    
    @include media(sm) {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }
    .container {
        @extend %container;
        .inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            // @media screen and (min-width: 768px){
            //     height: 100px;
            // }
            @include media(sm) {
                height: 100px;
            }
            .wrapper {
                display: flex;
                .logo {
                    margin-right: 45px;
                    // @media screen and (min-width: 576px){
                    //     margin-right: 36px;
                    // }
                    @include media(xs) {
                        margin-right: 36px;
                    }
                    // @media screen and (min-width: 768px){
                    //     height: 23px;
                    // }
                    @include media(sm) {
                        height: 23px;
                    }
                }
                .phoneMoscow {
                    color: $linkColor;
                    @include text(14px, 400, 17px);
                    // @media screen and (min-width: 576px){
                    //     display: none;
                    // }
                    @include media(xs) {
                        display: none;
                    }
                    
                }
                .phone {
                    display: none;
                    span, .phoneLink {
                        @include text(14px, 400, 17px);
                    }
                    span {
                        color: $textColorLight;
                    }
                    .phoneLink {
                        color: $textColor;
                    }
                    // @media screen and (min-width: 576px){
                    //     display: block;
                    // }
                    @include media(xs) {
                        display: block;
                    }
                }
            }
            .user {
                // @media screen and (min-width: 1280px){
                //     display: none;
                // } 
                @include media(md) {
                    display: none;
                } 
            }
        }
    }
    
    
}




